<footer class="fixed inset-x-0 bottom-0 p-5 footer-center bg-neutral text-neutral-content">
  <div>
    <a class="link link-hover" href="https://www.github.com/noloman" target="_blank"
>Github</a>
    <a class="link link-hover" href="https://www.linkedin.com/in/manulorenzo" target="_blank"
>LinkedIn</a>
    <a class="link link-hover" href="https://www.manulorenzo.me" target="_blank"
>Developer's website</a>
  </div>
</footer>
