<footer class="fixed inset-x-0 bottom-0 p-5 footer-center bg-neutral text-neutral-content">
  <div>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </div>
</footer>
