<div
  class="block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
  <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
    <%= link_to 'Visit link', @link.url.html_safe, class: 'link link-primary' %>
  </h5>
  <p class="block mb-4 text-base text-neutral-600 dark:text-neutral-200">
    <% if Rails.env.development? || Rails.env.test? %>
      Short URL: <%= "http:localhost:3000/l/#{@link.slug}" %>
    <% else %>
      Short URL: <%= "https://www.shurtly.com/l/#{@link.slug}" %>
    <% end %>
  </p>
</p>
</div>
